html {
  background-color: #f9e9e1;
}

body {
  background-image: url("./background-enlightenment.png");
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}


.enlightenment-title {
  font-style: italic;
}

#poem {
  display: flex;
  flex-direction: column;
}

.poemTitle {
  align-self: flex-start;
  padding-left: 10%;
  font-size: 20%;
}

.poemContent {
  text-align: center;
  padding-left: 30%;
  padding-right: 30%;
  font-style: italic;
  font-size: 120%
}

.poemPoet {
  align-self: flex-end;
  padding-right: 10%;
}

#enlightenment-title {
  padding-top: 5%;
  padding-bottom: 5%;
}

#poem {
  display: flex;
  flex-direction: column;
}

.poemTitle {
  align-self: flex-start;
  padding-left: 10%;
  font-size: 20%;
}

.poemContent {
  text-align: center;
  padding-left: 30%;
  padding-right: 30%;
  font-style: italic;
}

.poemPoet {
  align-self: flex-end;
  padding-right: 10%;
}

div.box {
  background-color: lightblue;
}

div.columns.is-clickable {
  cursor: pointer;
}

div.content.is-clickable {
  cursor: pointer;
}

img.spaced-image {
  justify-content: space-between;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  filter: drop-shadow(-10px 48px 6px rgb(65, 65, 65));
}

figure.image:hover {
  cursor: pointer;
}

h2.no-favorites-yet {
  display: none;
}
