body {
    /*background-color: #f9e9e1;*/
      background-image: url('https://i.imgur.com/uKYGjV5.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 100%;
  }

#enlightenment-title {
  padding-top: 5%;
  padding-bottom: 5%;
}

#poem {
  display:flex;
  flex-direction:column;
}

.poemTitle {
  align-self: flex-start;
  padding-left: 10%;
  font-size: 20%;
  
}

.poemContent {
  text-align: center;
  padding-left: 30%;
  padding-right: 30%;
  font-style: italic;
  font-size: 120%
}

.poemPoet {
  align-self: flex-end;
  padding-right: 10%;

}

  #enlightenment-title {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  #poem {
    display:flex;
    flex-direction:column;
  }
  

  .poemTitle {
    align-self: flex-start;
    padding-left: 10%;
    font-size: 20%;
    
  }
  
  .poemContent {
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
    font-style: italic;
  }
  
  .poemPoet {
    align-self: flex-end;
    padding-right: 10%;
  
  }


  
div.column {
  background-color: lightpink;
}

div.box {
  background-color: lightblue;

}

div.columns.is-clickable {
  cursor: pointer;
}

div.content.is-clickable {
  cursor: pointer;
}