body {
    background-color: lightyellow;
    height: 100vh;
  }

.poemTitle {
  padding: 30%;
}

.poemContent {
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
  font-style: italic;
}

.poemPoet {

}